[Unit]
Description=Site/Webserver for mw.lojban.org

[Service]
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lojban_mw_web
WorkingDirectory=/home/sampre_mw/mediawiki
ExecStart=/home/sampre_mw/mediawiki/run_web.sh
ExecStop=/home/sampre_mw/mediawiki/kill_web.sh
TimeoutStartSec=10min

[Install]
WantedBy=default.target
