[Unit]
Description=Site/Webserver for mw.lojban.org - Uncached Version

[Service]
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lojban_mw_web_live
WorkingDirectory=/home/spmediawiki/mediawiki
ExecStart=/home/spmediawiki/mediawiki/run_web.sh -l
ExecStop=/home/spmediawiki/mediawiki/kill_web.sh -l
TimeoutStartSec=10min

[Install]
WantedBy=default.target
