[Unit]
Description=Database for mw.lojban.org

[Service]
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lojban_mw_db
WorkingDirectory=/home/spmediawiki/mediawiki
ExecStart=/home/spmediawiki/mediawiki/run_database.sh
ExecStop=/home/spmediawiki/mediawiki/kill_database.sh
TimeoutStartSec=10min

[Install]
WantedBy=default.target
